.section {
    position: relative; 
    width: 100%;
    padding: 60px 10%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    margin-top: 0px;
    margin-bottom: 0px;
}
.oferta-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: white;
    padding: 25px;
}
.oferta-2{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: white;
    padding: 35px;
}
.oferta-3{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: white;
    padding: 35px;
}
.oferta-img{
   
    flex-basis: 50%;
    margin-right: 0px;

}
.oferta-img img{
    width: 120px; 
    border: 2px solid black;
    border-radius: 5px; 
    margin-right: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    
}
.oferta-txt{
    padding: 20px;
    flex-basis: 60%;
    text-align: center;
}

.oferta-txt h3{
    color: black;
    font-family:'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.btn-1{
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 4px;
  }